* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #222;
}

.sr-only {
	visibility: hidden;
	font-size: 0;
}

.slider {
	position: relative;
	max-height: 50%;
	max-width: 80%;
	overflow: hidden;
}

.slider__box {
	display: flex;
	transform: translateX(0);
	/*\/here you can change speed of change animation*/
	transition: transform 0.9s;
}

.slider__box-item {
	height: auto;
	min-width: 100%;
	object-fit: cover;
}

.slider__controls-btn {
	position: absolute;
	top: 50%;
	padding: 1rem 1.5rem;
	background: none;
	border: none;
	font-size: 4rem;
	color: hsl(175, 100%, 59%);
	transform: translateY(-50%);
	cursor: pointer;
}

.slider__controls-btn--left {
	left: 0;
}

.slider__controls-btn--right {
	right: 0;
}